.sw {
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
.card {
	display: grid;
	grid-template-rows: 40px 30px 30px 30px 30px 30px;
	font-size: 12px;
	border: 2px solid darkblue;
	border-radius: 10px;
	padding: 2%;
	

}

.h1{
	font-size: 16px;
	font-weight: 700;
}