body{
	font-size: 15px;
}
#header{
	background-color: lightgreen;
	color: lightcoral;
	border-bottom: 3px solid darkgreen;
	height: 100px;
}
#body{
	background-color: limegreen;
	color: yellow;
	border-bottom: 3px solid yellowgreen;
	height: 500px;
}
#annex{
	color: brown;
}
#footer{
	background-color: yellow;
	color: orange;
	border: 3px solid black;
	height: 100px;
}
