.slider{
	position: relative;
	width: 90%;
	margin: auto;
	
}
.item img{
	width: 100%;
	object-fit: cover;
	
}
.previous, .next{
	cursor: pointer;
	position: absolute;
	top:50%;
	color: white;
	width: auto;
    margin-top: -22px;
    padding: 2%;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    text-decoration: none;
}
.next{
	right: 0;
}
.previous:hover{
	background-color: black;
    border-radius: 40%;
    
} 
.next:hover{
	background-color:black;
    border-radius: 40%;
}
.item{
animation-name: new;
    animation-duration: 1.5s;
}
@keyframes new {
    
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}